.App {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    height: 50px;

    .logo {
      font-size: 18px;
      font-weight: bold;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2,
      h6 {
        margin: 0px;
        padding: 0px;
      }
    }

    .nav {
      display: flex;
      gap: 20px;

      ul {
        display: flex;
        gap: 20px;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        text-decoration: none;
        color: #ffffff;
        font-size: 24px;
        padding: 5px 20px;

        &:hover {
          border-bottom: 2px solid #ffffff;
          padding-bottom: 2px; /* Prevents movement by compensating for the border */
        }
      }
    }
    .login-btn {
      background-color: #ffffff;
      color: #000000;
      padding: 10px;
      font-size: 24px;
      height: 60px;
      font-weight: bolder;
      border: 0px solid #ffffff;

      &:hover {
        background-color: #000000;
        color: #ffffff;
        border: 0px solid #ffffff;
      }
    }
  }

  .hero {
    .hero-video {
      width: 100%;
      height: auto;
      max-height: 500px; /* Adjust the maximum height as needed */
      object-fit: cover;
    }
  }
}
