.App {
  font-family:
    Fjalla One,
    Open Sans,
    sans-serif;

  .header-container {
    background-color: #000000;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 70px;
    width: 85%;

    .logo {
      font-size: 24px;
      font-weight: bold;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2,
      h6 {
        margin: 0px;
        padding: 0px;
      }
    }

    .nav {
      ul {
        display: flex;
        list-style: none;
        margin: 0px 100px;
        padding: 0;
      }

      li {
        text-decoration: none;
        color: #ffffff;
        font-size: 24px;
        padding: 5px 20px;

        &:hover {
          border-bottom: 2px solid #ffffff;
          padding-bottom: 2px; /* Prevents movement by compensating for the border */
        }
      }
    }
    .login-btn {
      background-color: #ffffff;
      color: #000000;
      padding: 10px;
      font-size: 24px;
      height: 50px;
      font-weight: bolder;
      border: 0px solid #ffffff;

      &:hover {
        background-color: #000000;
        color: #ffffff;
        border: 0px solid #ffffff;
      }
    }
  }

  .hero {
    margin: 0px;

    .hero-image {
      width: 100%;
      height: auto;
      max-height: 500px; /* Adjust the maximum height as needed */
      object-fit: cover; /* Ensures the image covers the container without distortion */
    }
  }

  .about {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 100%;

    h2 {
      text-align: center;
      font-size: 36px;
      margin-bottom: 20px;
    }

    p {
      text-align: center;
      font-size: 18px;
      max-width: 800px;
      text-align: center;
    }

    .inst-img {
      height: 500px;
      width: auto;
    }

    .about-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      color: #ffffff;
      background-color: #000000;
      height: 100%;
      width: 40%;
      border: 5px solid #000000;

      .about-left-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: top;
        padding: 20px;
        color: #ffffff;
        background-color: #000000;
        height: 100%;
        width: 75%;
      }
    }

    .about-right {
      border: 5px solid #000000;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
    }
  }
}
